@model AliUsta.Models.PersonelViewModel

@{
    ViewBag.Title = "Personeli Düzenle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h2>@ViewBag.Title</h2>
    <hr />

    @using (Html.BeginForm("Edit", "Personel", FormMethod.Post, new { @class = "needs-validation", novalidate = "" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ID)

        <div class="row g-3">
            @Html.ValidationSummary(true, "", new { @class = "alert alert-danger col-12" })

            <div class="col-md-6">
                @Html.LabelFor(model => model.Ad, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Ad, new { htmlAttributes = new { @class = "form-control", required = "required", autofocus = "autofocus" } })
                @Html.ValidationMessageFor(model => model.Ad, "", new { @class = "text-danger d-block" })
            </div>

            <div class="col-md-6">
                @Html.LabelFor(model => model.Soyad, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Soyad, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Soyad, "", new { @class = "text-danger d-block" })
            </div>

            <div class="col-md-6">
                @Html.LabelFor(model => model.Telefon, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Telefon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger d-block" })
            </div>

            <div class="col-md-6">
                @Html.LabelFor(model => model.EPosta, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.EPosta, new { htmlAttributes = new { @class = "form-control", type = "email" } })
                @Html.ValidationMessageFor(model => model.EPosta, "", new { @class = "text-danger d-block" })
            </div>

            <div class="col-md-6">
                @Html.LabelFor(model => model.Maas, htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.Maas, new { htmlAttributes = new { @class = "form-control", type = "number", step = "0.01", required = "required" } })
                @Html.ValidationMessageFor(model => model.Maas, "", new { @class = "text-danger d-block" })
            </div>

            <div class="col-md-6">
                @Html.LabelFor(model => model.GorevID, "Görev", htmlAttributes: new { @class = "form-label" })
                @Html.DropDownListFor(model => model.GorevID, Model.GorevlerListesi, "-- Görev Seçiniz --", new { @class = "form-select" })
                @Html.ValidationMessageFor(model => model.GorevID, "", new { @class = "text-danger d-block" })
            </div>
        </div>

        <div class="mt-4">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-save"></i> Güncelle
            </button>
            @Html.ActionLink("Listeye Dön", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        (function () {
            'use strict'
            var forms = document.querySelectorAll('.needs-validation')
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
}