<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ali Usta Uygulaması</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Ali Usta", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    @Html.ActionLink("Yönetim", "AdminPanel", "Home", null, new { @class = "nav-link" })
                </li>
            </ul>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
                <ul class="navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        <li class="nav-item">
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">ÇıkışYap</a>
                            }
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">@Html.ActionLink("Kayıt Ol", "Register", "Account", null, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Giriş Yap", "Login", "Account", null, new { @class = "nav-link" })</li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content mt-4">
        @if (TempData["GlobalSuccessMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["GlobalSuccessMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @if (TempData["GlobalErrorMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @TempData["GlobalErrorMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @RenderBody()
        <hr />
        <footer>
            <p>© @DateTime.Now.Year - Ali Usta</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>