@model AliUsta.Models.YorumViewModel

@{
    ViewBag.Title = "Yorumu Sil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <h2>@ViewBag.Title (#@Model.ID)</h2>
    <hr />
    <h3 class="text-danger">Bu yorumu silmek istediğinizden emin misiniz?</h3>
    <div class="alert alert-warning">
        <strong>Uyarı!</strong> Bu işlem geri alınamaz.
    </div>

    <div>
        <h4>Yorum Detayları</h4>
        <dl class="row">
            <dt class="col-sm-3">Müşteri</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.MusteriAdiSoyadi)</dd>

            <dt class="col-sm-3">Sipariş Detayı</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.SiparisDetayi)</dd>

            <dt class="col-sm-3">Puan</dt>
            <dd class="col-sm-9">
                @for (int i = 0; i < Model.Puan; i++)
                {
                    <i class="fas fa-star text-warning"></i>
                }
                @for (int i = Model.Puan; i < 5; i++)
                {
                    <i class="far fa-star text-warning"></i>
                }
                (@Model.Puan/5)
            </dd>

            <dt class="col-sm-3">Açıklama</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Aciklama)</dd>

            <dt class="col-sm-3">Tarih</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Tarih, "{0:dd.MM.yyyy HH:mm}")</dd>
        </dl>

        @using (Html.BeginForm("Delete", "Yorum", new { id = Model.ID }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ID)

            <div class="mt-4">
                <button type="submit" class="btn btn-danger">
                    <i class="fas fa-trash-alt"></i> Evet, Sil
                </button>
                @Html.ActionLink("Hayır, Listeye Dön", "Index", null, new { @class = "btn btn-secondary" })
            </div>
        }
    </div>
</div>